@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto+Condensed&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
/*---------------------
----first page---------*/
.container{
    display: flex;
    background-color: darkblue;
    width: 1680px;
    height: 800px;

    justify-content: space-around;
}
.top p{
    font-size: 60px;
    color:white;
}
.top img{
    height: 500px;
    width: 456px;
    margin-right: 50px;
    margin-top: 50px;

}
.button{

    background-color: #E02C6D;
    width: 40%;
    padding-left: 17px;
    font-weight: bolder;
    border-radius: 5px;
    border: solid #E02C6D;
    height: 35px;
     
     
}
.button a{
    text-decoration: none;
    color: white;
}
.container:hover{
    background-color: tomato;
}

/*==========================next-section=================== */

.box{
    width: 80%;
    height: 2000px;
    padding-left: 200px;
}.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background-color: white;
    padding-left: 100px;
       
}
.player img{
    width: 250px;
    height: 180px;
}
.player{
    width: 250px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    border: 20px solid whitesmoke;
    margin-top: 50px;
    
     
    
}

.foot{
    
    height: 400px;
}
.foot img{
width: 30%;
height: 100px;
padding-left: 500px;
margin-top: 120px;
}
.fa-facebook-square{
    width: 70px;
    height: 70px;
    padding-left: 680px;
}
.fa-instagram-square{
    width: 70px;
    height: 70px;
}
.fa-twitter{
    width: 70px;
    height: 70px;
}
.fa-youtube{
    width: 70px;
    height: 70px;
}
.fa{
    padding-right: 150px;
    
}
.copy{
    padding-left: 700px;
    padding-bottom: 150px;
}

/* -------------------Media Query-------------- */


@media only  screen and (max-width:688px) {
    .container{
        background-color: darkblue;
        flex-direction: column;
        width: 100%;
        padding-right: 30px;
        
    }
    .container img{
        width: 89%;
        height: 80%;
        padding-right: 10px;
    }
    .box{
        width: 100%;
        height: 5900px;
        align-content: center;
        padding-left: 0;
    }
    .box .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-right: 60px;
        margin-right: 50px;
       
    }

    

    .foot{
        height: 100px;
        align-content: center;
    }
    .foot img{
        width: 50%;
        height: 50%;
        padding-left: 50px;
    }

    .fa-facebook-square{
        padding-left: 80px;
        /* display: none; */
    }
    .copy{
        padding-left: 30px;
        /* display: none; */
    }
    .fa{
display: flex;
margin-top: 15px;

    } 
} 

/* =========tab============ */

@media  screen and (min-width:688px) and (max-width:992px) {
    .container{
        background-color: darkblue;
        flex-direction: column;
        width: 100%;
        padding-right: 30px;
        
    }
    .container img{
        width: 89%;
        height: 80%;
        padding-right: 10px;
    }
    .box{
        width: 100%;
        height: 2900px;
        align-content: center;
        padding-left: 0;
    }
    .box .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-right: 60px;
        margin-right: 50px;
       
    }

   

    .foot{
        height: 100px;
        align-content: center;
    }
    .foot img{
        width: 65%;
        height: 65%;
        padding-left: 120px;
    }

    .fa-facebook-square{
        padding-left: 230px;
        
    }
    .copy{
        padding-left: 250px;
       
    }
    .fa{
display: flex;
margin-top: 25px;
    } 
} 
    
